<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BTSExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BlockTeleSells.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DataManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61AB7D221F08B0880033D4FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61AB7D361F08B0890033D4FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61AB7D411F08B0890033D4FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61AB7D6B1F08BE960033D4FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61AB7D8E1F0956910033D4FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61AB7D961F0956910033D4FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61AB7DB01F0957C40033D4FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61AB7DB81F0957C40033D4FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
